#myElement {
  position: absolute;
  cursor: url('/img/Tryllestav.svg'), auto;
  width: 100px;
    height: 100px;
}

#myElement:active {
  cursor: url('/img/Tryllestavvedklik.svg'), auto;
}
  


.scroll_container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background-color: lightgray;
}

.scroll_indicator {
  width: 0%;
  height: 100%;
  background-color: #db5b52;
  opacity: 40%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --rød: #db5b52;
  --blå: #6da0ff;
  --gul: #f2dd72;
}
@font-face {
  font-family: rumbleBrave;
  src: url(Rumble_Brave.otf);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: rumbleBrave;
  font-weight: 100;
}
h1 {
  font-size: 140px;
  padding: 0rem 2rem;
}

h2 {
  font-size: 100px;
  padding: 3rem 0rem;
}

h3 {
  font-size: 96px;
  padding: 2rem 0rem;
}
h4 {
  font-family: "Work Sans";
  text-align: center;
  max-width: 55ch;
  margin: auto;
  font-style: italic;
  font-weight: 300;
  padding: 2rem;
}
h5 {
  font-family: "Work Sans";
  font-size: 24px;
  color: var(--rød);
  text-align: center;
}
p {
  font-family: "Work Sans";
  font-size: 16px;
  text-align: center;
  max-width: 55ch;
  margin: auto;
  font-weight: 500;
  line-height: 200%;
}
a {
  font-family: "Work Sans";
}

main {
  max-width: 60%;
  margin: auto;
}
body {
  background-color: #FFFAFA;
}

img {
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}
.instagram {
  width: 100%;
}
/* ________TEST TEST TEST________ */
.card {
  border: none;
  border-radius: 8px;
  padding: 16px;

  width: 60%;
  justify-self: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-title {
  font-size: 1.25rem;
    text-align: left;
}

.card-description {
  font-weight: 400;
  text-align: left;
}
