.scroll_container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background-color: lightgray;
}

.scroll_indicator {
  width: 0%;
  height: 100%;
  background-color: #db5b52;
  opacity: 40%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --rød: #db5b52;
  --blå: #6da0ff;
  --gul: #f2dd72;
}
@font-face {
  font-family: rumbleBrave;
  src: url(Rumble_Brave.otf);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: rumbleBrave;
  font-weight: 100;
}
h1 {
  font-size: 140px;
  padding: 0rem 2rem;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 96px;
}
h4 {
  font-family: "Work Sans";
  text-align: center;
  max-width: 55ch;
  margin: auto;
  font-style: italic;
  font-weight: lighter;
  padding: 2rem;
}
h5 {
  font-family: "Work Sans";
  font-size: 24px;
  color: var(--rød);
  text-align: center;
}
p {
  font-family: "Work Sans";
  font-size: 16px;
  text-align: center;
  max-width: 65ch;
  margin: auto;
  padding-top: 8rem;
}
a {
  font-family: "Work Sans";
}

section {
  max-width: 60%;
  margin: auto;
}

img {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}
