---
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="scroll_container">
      <div class="scroll_indicator"></div>
    </div>
    <h1>Astro</h1>



</body>
    <script>
      window.addEventListener("scroll", onScroll);

      function onScroll() {
        const scrolled = document.body.scrollTop || document.documentElement.scrollTop;
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        const scrolledfactor = (scrolled / height) * 100;
        document.querySelector(".scroll_indicator").style.width = `${scrolledfactor}%`;
      }
    </script>
  
</html>
