---
import "../styles/style.css";

const { variant } = Astro.props;
const { link } = Astro.props;
---

<a class={variant} href={link}> <slot /> </a>

<style>
  a {
    display: flex;
    width: 129px;
    height: 53px;
    padding: 2.465px 0px 4.602px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background: #db5b52;
    font-family: "Work Sans";
  }
</style>
