---
import "../styles/style.css";

const { variant } = Astro.props;
const { link } = Astro.props;
---

<a class={variant} href={link}> <slot /> </a>

<style>
  a {
    display: flex;
    width: fit-content;
    height: 53px;
    padding: 2.465px 30px 4.602px 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background: #db5b52;
    color: white;
    margin: 4rem 1rem;
  }
</style>
