<div class="video">
  <iframe width="660" height="370" src="https://www.youtube.com/embed/_WqP8Wv7Jc4?si=jBKVmkWgjrzF3wwj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<style>
  .video {
    margin: 0 auto; /* Centers the element horizontally */
    width: 660px; /* Maintains the original width */
    border-radius: 30px; /* Juster radius efter ønske */
    overflow: hidden;
  }
</style>
